[Desktop Entry]
Name=Look
Comment=Keyboard-first desktop launcher
Exec=lookapp
Icon=lookapp
Type=Application
Categories=Utility;
StartupWMClass=Look
Terminal=false
